* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}

span,
p,
strong {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

/* GRID GERAL */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content anuncios"
    "footer footer footer";
}

/* HEADER */
.header {
  grid-area: header;
  background-image: linear-gradient(
    to right top,
    #051937,
    #0c2e51,
    #13466d,
    #175f88,
    #1b79a3
  );
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo img {
  max-width: 160px;
}

.header nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125rem;
  background: rgba(0, 0, 0, 0.1);
  transition: 400ms;
  border-radius: 5px;
}

.header nav a img {
  width: 25px;
}

.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.header li + li {
  margin-left: 30px;
}

/* SIDENAV */
.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}

.sidenav li img {
  display: block;
  min-width: 60px;
  max-width: 140px;
  margin: 0 auto 30px auto;
  background: white;
  /* padding: 1px; */
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 400ms;
}

/* .sidenav li a:hover{
  background: #b07dfb;
} */

/* CONTENT */
.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.col-wide {
  grid-column: 1 / -1;
}

.imagem-1 {
  grid-row: span 2;
  align-self: end;
}

.item-2 {
  align-self: end;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: -0.005rem;
  color: rgba(0, 0, 0, 0.7);
}

.titulo {
  color: #175f88;
}

.titulo h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.titulo span {
  font-size: 0.875rem;
  font-style: italic;
}

.caracteristica {
  display: flex;
  align-items: flex-start;
}

.caracteristica > div {
  width: 80px;
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #051937,
    #0c2e51,
    #13466d,
    #175f88,
    #1b79a3
  );
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: relative;
}

.caracteristica > div:first-child {
  margin-right: 30px;
}

.caracteristica span {
  display: block;
}

.numero {
  font-size: 3rem;
  line-height: 1;
  margin: 10px auto;
  color: white;
}

.rotulo {
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: relative;
  top: 2px;
  color: #1b79a3;
}

.citacao,
.atributos {
  align-self: start;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background-image: linear-gradient(
    to right top,
    #051937,
    #0c2e51,
    #13466d,
    #175f88,
    #1b79a3
  );
}

.citacao p {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  color: white;
  max-width: 500px;
  margin: 0 auto;
}

.atributos li {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  padding: 15px;
}

.atributos li + li {
  border-top: 2px solid #175f88;
}

.informacoes p + p {
  margin-top: 30px;
}

/* ANUNCIOS */
.anuncios {
  grid-area: anuncios;
  background: #fafbfc;
  display: grid;
  align-content: start;
  padding: 30px;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* FOOTER */
.footer {
  grid-area: footer;
  background-image: linear-gradient(
    to right top,
    #051937,
    #0c2e51,
    #13466d,
    #175f88,
    #1b79a3
  );
}

.footer p {
  color: white;
  text-align: center;
  padding: 30px;
}

/*RESPONSIVE*/
@media (max-width: 800px) {
  .estrutura {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "anuncios"
      "footer";
  }

  .header {
    padding: 30px;
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .logo img {
    max-width: 150px;
    margin: 0 auto;
  }

  .header nav ul {
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header nav a img {
    width: 25px;
  }

  .header nav a:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  .header li + li {
    margin-left: 0px;
  }

  .sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 30px;
  }

  .sidenav li img {
    display: block;
    min-width: 60px;
    max-width: 140px;
    margin: 0 auto 30px auto;
    background: white;
    /* padding: 1px; */
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    transition: 400ms;
  }

  /* CONTENT */
  .content {
    grid-area: content;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: -0.005rem;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }

  .titulo {
    color: #175f88;
    text-align: center;
  }

  .titulo h1 {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
  }

  .titulo span {
    font-size: 0.875rem;
    font-style: italic;
  }

  .caracteristica {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }

  .citacao,
  .atributos {
    align-self: start;
    padding: 50px;
  }

  .citacao p {
    font-size: 1.125rem;
    font-style: italic;
    text-align: center;
    color: white;
    max-width: 500px;
    margin: 0 auto;
  }

  .atributos li {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding: 15px;
    text-align: center;
  }

  .atributos li + li {
    border-top: 2px solid #175f88;
  }

  .informacoes p + p {
    margin-top: 30px;
  }

  /* ANUNCIOS */
  .anuncios {
    grid-area: anuncios;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    padding: 30px;
    gap: 30px;
  }

  .anuncios img {
    max-width: 350px;
  }

  /* FOOTER */
  .footer {
    grid-area: footer;
    background-image: linear-gradient(
      to right top,
      #051937,
      #0c2e51,
      #13466d,
      #175f88,
      #1b79a3
    );
  }

  .footer p {
    font-size: 0.875rem;
  }
}
